
/*---------------------------------    GothamPro    -------------------------------*/

@font-face {
  font-family: "GothamPro";
  font-display: auto;
  src:  url("../fonts/gothamproblack.eot");
  src:  url("../fonts/gothamproblack.eot?#iefix") format("embedded-opentype"),
        url("../fonts/gothamproblack.otf") format("opentype"),
        url("../fonts/gothamproblack.svg") format("svg"),
        url("../fonts/gothamproblack.ttf") format("truetype"),
        url("../fonts/gothamproblack.woff") format("woff"),
        url("../fonts/gothamproblack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src:  url("../fonts/gothamprobold.eot");
  src:  url("../fonts/gothamprobold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/gothamprobold.otf") format("opentype"),
        url("../fonts/gothamprobold.svg") format("svg"),
        url("../fonts/gothamprobold.ttf") format("truetype"),
        url("../fonts/gothamprobold.woff") format("woff"),
        url("../fonts/gothamprobold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src:  url("../fonts/gothampromedium.eot");
  src:  url("../fonts/gothampromedium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/gothampromedium.otf") format("opentype"),
        url("../fonts/gothampromedium.svg") format("svg"),
        url("../fonts/gothampromedium.ttf") format("truetype"),
        url("../fonts/gothampromedium.woff") format("woff"),
        url("../fonts/gothampromedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src:  url("../fonts/gothamproregular.eot");
  src:  url("../fonts/gothamproregular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/gothamproregular.otf") format("opentype"),
        url("../fonts/gothamproregular.svg") format("svg"),
        url("../fonts/gothamproregular.ttf") format("truetype"),
        url("../fonts/gothamproregular.woff") format("woff"),
        url("../fonts/gothamproregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src:  url("../fonts/gothamprolight.eot");
  src:  url("../fonts/gothamprolight.eot?#iefix") format("embedded-opentype"),
        url("../fonts/gothamprolight.otf") format("opentype"),
        url("../fonts/gothamprolight.svg") format("svg"),
        url("../fonts/gothamprolight.ttf") format("truetype"),
        url("../fonts/gothamprolight.woff") format("woff"),
        url("../fonts/gothamprolight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src:  url("../fonts/gothamproitalic.eot");
  src:  url("../fonts/gothamproitalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/gothamproitalic.otf") format("opentype"),
        url("../fonts/gothamproitalic.svg") format("svg"),
        url("../fonts/gothamproitalic.ttf") format("truetype"),
        url("../fonts/gothamproitalic.woff") format("woff"),
        url("../fonts/gothamproitalic.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
