<!DOCTYPE html>
<html lang="uk">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>GFC</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header>
		<div class="header">
			<a href="/" class="logo">
				<span class="logo__icon"></span>
				<span class="logo__name">GFC</span>
				<span class="logo__subname">Goryn’s Family Clinic</span>
			</a>
			<div class="header__i">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="nav" id="headerScroll">
				<ul class="nav__list menu">
					<li>
						<a href="#">Головна</a>
					</li>
					<li>
						<a href="#">Послуги</a>
					</li>
					<li>
						<a href="#">Наші роботи</a>
					</li>
					<li>
						<a href="#">Про клініку</a>
					</li>
					<li>
						<a href="#">Блог</a>
					</li>
				</ul>
			</div>
			<div class="header__block">
				<div class="adress" id="adress">
					м. Хмельницький, Пр. Миру 61/3Б
				</div>
				<div class="header__info info">
					<div class="dropdown" id="info">
		                <div class="dropdown__wrap">
			                <div class="dropdown__title dropdown__title_time">Пн: 09:00 - 19:00</div>
							<ul class="dropdown__list">
								<li class="dropdown__item">Вт-Чт: 08:00 - 19:30</li>
								<li class="dropdown__item">Вт-Чт: 08:00 - 19:30</li>
								<li class="dropdown__item">Пт: 09:00 - 19:00</li>
								<li class="dropdown__item">Сб: 10:00 - 16:00</li>
								<li class="dropdown__item">Нд: Вихідний</li>
							</ul>
						</div>
					</div>
					<div class="dropdown">
		                <div class="dropdown__wrap">
		                    <div class="dropdown__title dropdown__title_phone"><a href="tel:+380977542915">+8 097 75 42 915</a></div>
							<ul class="dropdown__list">
								<li class="dropdown__item"><a href="tel:+380677642615">+38 067 76 42 615</a></li>
								<li class="dropdown__item"><a href="tel:+380937546818">+38 093 75 46 818</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="btn-2 popup-btn" data-btn-popup data-target="#popup-3">Замовити дзвінок</div>
			</div>
		</div>
	</header>
