<div class="overlay">
    <div class="popup" id="popup">
        <div class="close-button close">
            <span></span>
            <span></span>
        </div>
        <div class="popup__block">
            <div class="popup__content">
                <div class="title popup__title">Записатися на прийом</div>
                <div class="title popup__subtitle">Заповніть дану форму і ми перетелефонуємо Вам протягом 5 хвилин</div>
                <span class="dots"></span>
                <form class="form popup__form" method="post">
                	<input type="hidden" name="hidden" value="Записатися на прийом">
                    <div class="form__group">
                       <i class="fas fa-user"></i>
                	   <input type="text" name="name" placeholder="Ваше Ім’я" class="form__input form__name" required>
                    </div>
                    <div class="form__group">
                       <i class="fas fa-phone-alt"></i>
                	   <input type="tel" name="tel" placeholder="Номер телефону" class="form__input form__tel" required>
                    </div>
                	<button class="btn form__btn" type="submit"><span>Записатися зараз</span></button>
                	<div class="form__group form__group_check">
                        <input type="checkbox" name="agree" class="form__agree" checked>
                        <span class="form__checkmark"></span>
                        <span class="form__checktext">Я ознайомленний та згідний з умовами обробки персональних даних на цьому сайті</span>
                    </div>
                </form>
            </div>
            <div class="popup__gratitude gratitude">
                <img src="img/teeth.png" alt="#" title="#">
                <div class="gratitude__title">Дякуємо за звернення!</div>
                <div class="gratitude__txt">
                    Невдовзі з Вами зв’яжеться наш менеджер. Очікуйте на дзвіночок.
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="popup-2">
        <div class="close-button close">
            <span></span>
            <span></span>
        </div>
        <div class="popup__block">
            <div class="popup__content">
                <div class="title popup__title popup__title_contacts">Дізнатись деталі</div>
                <div class="title popup__subtitle">Заповніть дану форму і ми перетелефонуємо Вам протягом 5 хвилин</div>
                <span class="dots"></span>
                <form class="form contacts_form" method="post">
                   	<input type="hidden" name="hidden" value="Замовлення дзвінка">
                    <div class="form__group">
                       <i class="fas fa-user"></i>
                	   <input type="text" name="name" placeholder="Ваше Ім’я" class="form__input form__name" required>
                    </div>
                    <div class="form__group">
                       <i class="fas fa-phone-alt"></i>
                	   <input type="tel" name="tel" placeholder="Номер телефону" class="form__input form__tel" required>
                    </div>
                	<button class="btn form__btn" type="submit"><span>Дізнатись деталі</span></button>
                    <div class="form__group form__group_check">
                        <input type="checkbox" name="agree" class="form__agree" checked>
                        <span class="form__checkmark"></span>
                        <span class="form__checktext">Я ознайомленний та згідний з умовами обробки персональних даних на цьому сайті</span>
                    </div>
                </form>
            </div>
            <div class="popup__gratitude gratitude">
                <img src="img/teeth.png" alt="#" title="#">
                <div class="gratitude__title">Дякуємо за звернення!</div>
                <div class="gratitude__txt">
                    Невдовзі з Вами зв’яжеться наш менеджер. Очікуйте на дзвіночок.
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="popup-3">
        <div class="close-button close">
            <span></span>
            <span></span>
        </div>
        <div class="popup__block">
            <div class="popup__content">
                <div class="title popup__title popup__title_contacts">Замовити дзвінок</div>
                <div class="title popup__subtitle">Заповніть дану форму і ми перетелефонуємо Вам протягом 5 хвилин</div>
                <span class="dots"></span>
                <form class="form contacts_form" method="post">
                    <input type="hidden" name="hidden" value="Замовлення дзвінка">
                    <div class="form__group">
                       <i class="fas fa-user"></i>
                       <input type="text" name="name" placeholder="Ваше Ім’я" class="form__input form__name" required>
                    </div>
                    <div class="form__group">
                       <i class="fas fa-phone-alt"></i>
                       <input type="tel" name="tel" placeholder="Номер телефону" class="form__input form__tel" required>
                    </div>
                    <button class="btn form__btn" type="submit"><span>Замовити</span></button>
                    <div class="form__group form__group_check">
                        <input type="checkbox" name="agree" class="form__agree" checked>
                        <span class="form__checkmark"></span>
                        <span class="form__checktext">Я ознайомленний та згідний з умовами обробки персональних даних на цьому сайті</span>
                    </div>
                </form>
            </div>
            <div class="popup__gratitude gratitude">
                <img src="img/teeth.png" alt="#" title="#">
                <div class="gratitude__title">Дякуємо за звернення!</div>
                <div class="gratitude__txt">
                    Невдовзі з Вами зв’яжеться наш менеджер. Очікуйте на дзвіночок.
                </div>
            </div>
        </div>
    </div>
</div>